<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>{{pageTitle}}</title>
</head>

<body>
    <script crossorigin="anonymous"
        src="https://polyfill.io/v3/polyfill.min.js?flags=gated&features=es2015%2Ces2016%2Ces2017%2Ces2018%2Ces5%2Ces6%2Ces7%2CEvent%2Cfetch%2Cdefault%2CJSON%2CXMLHttpRequest%2ClocalStorage%2CsetImmediate%2Cnavigator.geolocation%2Clocation.origin%2CPromise%2CObject.keys%2CObject.values%2CNumber.parseInt%2CNumber.parseFloat"></script>
</body>

</html>